/**
 * Component: Z-INDEX UTILITY-FIRST
 * Description: orden visual en superposición de elementos en el eje Z
 * Date: 2026
 */


 .z-unset { z-index: var(--z-index-unset); }

.z-0 { z-index: var(--z-index-0); }
.z-1 { z-index: var(--z-index-1); }
.z-2 { z-index: var(--z-index-2); }
.z-3 { z-index: var(--z-index-3); }
.z-4 { z-index: var(--z-index-4); }
.z-5 { z-index: var(--z-index-5); }


.z-dropdown   { z-index: var(--z-index-dropdown); } 
.z-overlay    { z-index: var(--z-index-overlay); } 
.z-popover    { z-index: var(--z-index-popover); }
.z-dialog     { z-index: var(--z-index-dialog); }
.z-toast      { z-index: var(--z-index-toast); }
.z-tooltip    { z-index: var( --z-index-toast); }