.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--c-topbar-height);
  z-index: 100;
}

.layout-content {
  display: flex;
  flex: 1;
  margin-top: var(--c-topbar-height);
  overflow: hidden;
}

.layout-sidebar {
  width: 240px;
  border-right: 1px solid var(--c-primary-border-color);
  overflow-y: auto;
}

.layout-main {
  flex: 1;
  overflow: hidden;
}
