// ======================================================================
// MARK: PAGES
// ======================================================================

.page {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
}

.page-content {
  display: flex;
  //flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 24px 48px;
}

// scroll del main
.page {
  height: 100%;
  overflow-y: auto;
}

.page-content {
}

// encabezado del título
// .page-header {
//   margin-bottom: 1rem;
// }

// .page-title {
//   font-size: 24px;
//   font-weight: 500;
// }


// lita de pestañas
.page-tabs {
  display: flex;
  background-color: white;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;

}


// ======================================================================
// MARK: home - tabs
// ======================================================================

// contenido de las pestañas
.c-doc-title {}


.c-tablist {
  display: flex;
  flex: 1;
  border-bottom: 1px solid lightgray;
}

.c-tab {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  background: white;
  flex-shrink: 0;
  min-width: 160px;
  font-weight: 500;
  text-transform: uppercase;
  touch-action: manipulation;
  cursor: pointer;
}

.c-tab:hover {
  background: #00000008;

}

.c-tab.active {
  border-bottom: 2px solid blueviolet;
}

.page-content {
  flex: 1;
}