<!-- <nav class="sidebar">
  <ul class="sidebar-menu">

    <li>
      <a routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" (pointerdown)="$event.currentTarget">
        <i class="material-icons-outlined">home</i>
        <span>Home</span>
      </a>
    </li>

    <li>
      <a routerLinkActive="is-active" routerLink="/components" (pointerdown)="$event.currentTarget">
        <i class="material-icons-outlined">apps</i>
        <span>Components</span>
      </a>
    </li>

    <li>
      <a routerLinkActive="is-active" routerLink="/guides" (pointerdown)="$event.currentTarget">
        <i class="material-icons-outlined">auto_stories</i>
        <span>Guides</span></a>
    </li>

  </ul>
</nav> -->

<!-- 
<nav class="sidebar" *ngIf="menu.length">

  <ul class="sidebar-menu">
    <li *ngFor="let item of menu">
      <a [routerLink]="item.route" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="material-icons-outlined" *ngIf="item.icon">
          {{ item.icon }}
        </i>
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>

</nav> -->


<nav class="sidebar">

  <ul class="sidebar-menu">

    @for (item of items; track item.slug) {
      <li>
        <a
          [routerLink]="['/components', item.slug]"
          [class.is-active]="isActive(item.slug)"
        >
          <span class="sidebar-menu__label">
            {{ item.label }}
          </span>
        </a>
      </li>
    }

  </ul>

</nav>
