.c-tablist {
  display: flex;
  flex: 1;
  border-bottom: 1px solid var(--c-secondary-border-color);
  height: 48px;
}

.c-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: white;
  flex-shrink: 0;
  min-width: 160px;
  font-weight: 500;
  text-transform: uppercase;
  touch-action: manipulation;
  cursor: pointer;
}

.c-tab:hover {
  background-color: color-mix(in oklab, var(--c-gray-900) 4%, transparent);
}

.c-tab.active {
  border-bottom: 2px solid var(--c-primary-color);
}

header h3 {
  margin: 32px 0 0 0;
  padding: 8px 16px;
  border-bottom: 1px solid;
}