<app-pages>
  <div style="flex: 1;">

  <!-- lista de pestañas -->
  <section page-tabs role="tablist" class="c-tablist">

    <!-- pestaña 1 -->
    <span role="tab" class="c-tab" [class.active]="activeTab === 'overview'" (click)="activeTab = 'overview'">
      Overview
    </span>

    <!-- pestaña 2 -->
    <span role="tab" class="c-tab" [class.active]="activeTab === 'usage'" (click)="activeTab = 'usage'">
      Usage
    </span>

    <!-- pestaña 3 -->
    <span role="tab" class="c-tab" [class.active]="activeTab === 'notes'" (click)="activeTab = 'notes'">
      Notes
    </span>

  </section>

  <header page-title>
    <h2 class="c-doc-title">Home</h2>
  </header>

  <!-- contenido de pestaña 1 -->
  <ng-container role="tabpanel" *ngIf="activeTab === 'overview'">
    <p *ngFor="let i of filler">
      Contenido Overview para probar scroll.
    </p>
  </ng-container>

  <!-- contenido de pestaña 2 -->
  <ng-container role="tabpanel" *ngIf="activeTab === 'usage'">
    <p *ngFor="let i of filler">
      Contenido Usage para probar scroll.
    </p>
  </ng-container>

  <!-- contenido de pestaña 3 -->
  <ng-container role="tabpanel" *ngIf="activeTab === 'notes'">
    <p *ngFor="let i of filler">
      Contenido Notes para probar scroll.
    </p>
  </ng-container>

  </div>
  
  
  <div style="flex: 1;">
  
    
    <div page-tabs>
      <button (click)="activeTab = 'overview'">Overview</button>
      <button (click)="activeTab = 'usage'">Usage</button>
      <button (click)="activeTab = 'notes'">Notes</button>
    </div>
  
    <h1 page-title>Home2</h1>
    
    <div *ngIf="activeTab === 'overview'">
      <p *ngFor="let i of filler">Contenido Overview</p>
    </div>
    
    <div *ngIf="activeTab === 'usage'">
      <p *ngFor="let i of filler">Contenido Usage</p>
    </div>
    
    <div *ngIf="activeTab === 'notes'">
      <p *ngFor="let i of filler">Contenido Notes</p>
    </div>
  </div>
</app-pages>

  