/**
 * Component: Body Base
 * Description: estilos base general del body
 * Date: 2026
 */


body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Arial", "Apple Color Emoji", "0 BlinkMacSystemFont", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}