/**
Component: BACKGROUND
Description: clases para fondos
Date: 2026
*/

.bg-w { background-color: var(--white); }
.bg-100 { background: var(--gray-100); }
.bg-200 { background: var(--gray-200); }
.bg-250 { background-color: var(--primary-250); }
.bg-300 { background-color: var(--primary-300); }
.bg-primary-color { background-color: var(--primary-color); }
.bg-red-color { background-color: var(--red-500); }
.bg-blue-color { background-color: var(--blue-500); }
.bg-purple-color { background-color: var(--purple-500); }
.bg-yellow-color { background-color: var(--yellow-200); }
.bg-white { background-color: var(--white); }
.fondo-amarillo { background-color: var(--yellow-100); }
.fondo-verde { background-color: var(--green-100); }
