/**
* Component: COLORS
* Description: colores
* Date: 2026
*/

.primary-color   { color: var(--primary-color); }
.secondary-color { color: var(--primary-700); }
.green-color     { color: var(--green-500); }
.red-color       { color: var(--red-500); }
.blue-color      { color: var(--blue-500); }
.yellow-color    { color: var(--yellow-500); }
.orange-color    { color: var(--orange-500); }
.pink-color      { color: var(--pink-500); }
.purple-color    { color: var(--purple-500); }
.indigo-color    { color: var(--indigo-500); }
.teal-color      { color: var(--teal-500); }
.cyan-color      { color: var(--cyan-500); }
.bluegray-color  { color: var(--bluegray-500); }
.black-color     { color: var(--black); }
.white-color     { color: var(--white); }
.gray-color      { color: var(--gray-500); }
.success-color   { color: var(--green-500); }
.warning-color   { color: var(--yellow-500); }
.danger-color    { color: var(--red-500); }
.barrita         { color: var(--primary-700); }