/**
 * Component: MARGIN
 * Description: clases para los espacios externos que empujan a otros elementos.
 * Date: 2026
 */

.margenRadio {
  margin: 32px 10px 0 0;
}

.margenRadio2 {
  margin: 2em 0.8em 0 0;
}

.margencultivovref1 {
  margin-right: -1px !important;
  margin-top: 6px;
}

.margencultivovref2 {
  margin-right: 28px !important;
  margin-top: 6px;
}

.margen {
  margin-right: 28px !important;
}

.margenDate {
  margin-right: 31px !important;
}

.margen2 {
  margin-right: 14px !important;
}

.margen3 {
  margin-right: 64px !important;
}

.margen4 {
  margin-right: 4px !important;
}

.margen5 {
  margin-right: 8px !important;
  white-space: nowrap;
}

.margenCarga {
  margin-right: 20px !important;
  margin-left: 50px;
}

.margeniamiu {
  margin-right: 28px !important;
  margin-top: 6px;
}

.modal-body {
  margin: 0rem 2rem 1rem;
}

.modal-body1 {
  margin: 0.5rem 2rem 2rem;
}