<div class="landing">

  <div class="landing-content">
    <section class="landing__shape">
      <div class="landing__gradient">
        <div class="c-gradient-1"></div>
        <div class="c-gradient-2"></div>
        <div class="c-gradient-3"></div>
        <div class="c-gradient-4"></div>
        <div class="c-gradient-5"></div>
      </div>
      <div class="landing__hero">
        <div class="landing__hero-subtitle">v1.0.1 - Est.26</div>
        <div class="landing__hero-title">Develop UI</div>
        <div class="landing__hero-subtitle">herramientas para el desarrollador </div>
      </div>
    </section>

    <section class="landing-doc">

      <h2 class="landing__doc-title">
        Construye rápidamente componentes SINTRA
        <br>sin tener que buscar en otro sitio.
      </h2>

      <h3 class="landing__doc-subtitle">
        Guía para el desarrollo de aplicaciones:
      </h3>
      <p class="landing__doc-text">
        Develop UI es un conjunto de herramientas de diseño que ayudan al desarrollador a seguir una línea única de
        contrucción de interfaces.
      </p>

      <h3 class="landing__doc-subtitle">
        Components
      </h3>
      <p class="landing__doc-text">
        Todos los componentes en un sólo sitio,
        preparados para ser implantados sin necesidad de buscar.
        <br>
        Angular Material y PrimeNG suman para formar un solo estilo.
      </p>

      <h3 class="landing__doc-subtitle">
        Blocks
      </h3>
      <p class="landing__doc-text">
        Bloques de interfaz de usuario preconstruidos.
        <br>Ejemplos que ya forman parte en varias aplicaciones y que repiten fórmulas de maquetación.
      </p>

      <h3 class="landing__doc-subtitle">
        Styles
      </h3>
      <p class="landing__doc-text">
        Tokens de diseño utilizados para cada elemento, contrucción y variables.
      </p>
      
      <h3 class="landing__doc-subtitle">
        Wiki
      </h3>
      <p class="landing__doc-text">
        Documentación para normas diseño
      </p>
    </section>



  </div>




</div>