<nav class="topbar">

  <div class="topbar__brand" (click)="goToLanding()">
    <img src="/assets/img/cesar-dev.png" alt="logo cesardev" class="brand__brandmark" />
    <span class="brand__wordmark">Develop UI</span>    
  </div>

  <nav class="topbar__nav">
    <a routerLink="/components" routerLinkActive="is-active">Components</a>
    <a routerLink="/blocks" routerLinkActive="is-active">Blocks</a>
    <a routerLink="/styles" routerLinkActive="is-active">Styles</a>
    <a routerLink="/wiki" routerLinkActive="is-active">Wiki</a>
  </nav>

  
  <div class="topbar__actions">
    <span class="topbar__mode">
      <span>mode</span>
      <button type="button" class="topbar__theme-toggle" [attr.aria-label]="'Theme: ' + mode" (click)="toggleTheme()">     
        <i class="material-icons-outlined">
          {{ mode === 'dark' ? 'light_mode' : 'dark_mode' }}
        </i>
      </button>
    </span>
    <code >"by &#64;cesarvillajo"</code>
  </div>

</nav>