/**
 * app-topbar
 * Author: Cesar Villajo
 * Contact: cesarvillajo.dev@gmail.com
 */

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 16px;
}

.topbar__brand {
  font-size: 24px;
  font-weight: 500;
}

.topbar__actions {
  margin-left: auto;
}