/**
 * app-topbar
 * Author: Cesar Villajo
 * Contact: cesarvillajo.dev@gmail.com
 */






// logotipo
.brand__brandmark {
  width: 32px;
  height: 32px;
}

// isologo
.brand__wordmark {
  font-size: 22px;
  font-family: var(--c-font-fanily-brand);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.01em;
  position: relative;
  top: -1px;
}

  // nav
  .topbar {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 24px;
    background: var(--c-primary-surface);
    border-bottom: 1px solid var(--c-primary-border-color);
    // justify-content: space-between;
  }

// línea divisoria con degradado
// .topbar::after {
//   content: "";
//   background: linear-gradient(135deg in oklch, var(--c-primary-color), var(--c-secondary-color));
//   width: 200vw;
//   height: 1px;
//   position: absolute;
//   bottom: 0;
//   left: -100vw;
// }

  .topbar__brand {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  
  .topbar__nav {
    display: flex;
    gap: 16px;
    margin-left: 32px;
  }
  
  
  .topbar__nav a.active {
    font-weight: 600;
  }
  
  // acciones de light/dark
  .topbar__actions {
    margin-left: auto;
  }
  

  .theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--c-primary-text-color);
  font-size: 1.25rem;
}
