/* You can add global styles to this file, and also import other style files */

:root {
    --c-topbar-height: 56px;
    --c-primary-surface: #ffffff;
    --c-primary-border-color: #9e9e9e;
}


/* =====================================================
   MARK: BODY BASE
   ===================================================== */

//AJUSTE EN DASHBOARD PARA QUE NO HAYA UN SCROLL GENERAL

html {
    font-size: 16px;
    font-family: "Inter", Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--c-font-family-base);
    font-size: var(--c-text-base);
    /* 16px */
    line-height: var(--c-line-height-base);
    /* 1.5 */
}

body {
    overflow: hidden;
}

*,
::before,
::after {
    box-sizing: border-box;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* =====================================================
   MARK: MAPEO
   ===================================================== */
:root {

    h1 {
        font-size: var(--c-text-4xl);
        /* 36px */
        line-height: var(--c-line-height-4xl);
        /* 1.25 */
        font-weight: 600;
    }

    h2 {
        font-size: var(--c-text-3xl);
        /* 30px */
        line-height: var(--c-line-height-3xl);
        /* 1.3 */
        font-weight: 600;
    }

    h3 {
        font-size: var(--c-text-2xl);
        /* 24px */
        line-height: var(--c-line-height-2xl);
        /* 1.45 */
        font-weight: 600;
    }

    h4 {
        font-size: var(--c-text-xl);
        /* 20px */
        line-height: var(--c-line-height-xl);
        /* 1.5 */
        font-weight: 600;
    }

    h5 {
        font-size: var(--c-text-lg);
        /* 18px */
        line-height: var(--c-line-height-lg);
        /* 1.55 */
        font-weight: 600;
    }

    h6 {
        font-size: var(--c-text-base);
        /* 16px */
        line-height: var(--c-line-height-base);
        /* 1.5 */
        font-weight: 600;
    }

    code,
    pre {
        font-family: var(--c-font-family-code);
        font-size: var(--c-text-sm);
        /* 14px */
        line-height: 1.6;
        /* fijo, más cómodo para código */
    }

    small {
        font-size: var(--c-text-sm);
        /* 18px */
        line-height: var(--c-line-height-sm);
        /* 1.55 */
        font-weight: 400;
    }

}

/* =====================================================
   MARK: ROOT LIGHT
   ===================================================== */

// COLOR
:root {
    --c-primary-color: #3f51b5;
    --c-secondary-color: #ff1493;
    --c-primary-text-color: #212121;
}

// GRAY COLOR
:root {
    --c-white: #ffffff; // rgb(255, 255, 255); // rgba(0, 0, 0, 0);    // #00000000;
    --c-gray-10: #fcfcfc; // rgb(252, 252, 252); // rgba(0, 0, 0, 0.01)  // #00000003;
    --c-gray-50: #fafafa; // rgb(250, 250, 250); // rgba(0, 0, 0, 0.02); // #0000000f; --> bg tr (even)
    --c-gray-100: #f5f5f5; // rgb(245, 245, 245); // rgba(0, 0, 0, 0.04); // #0000000a;
    --c-gray-150: #f0f0f0; // rgb(240, 240, 240); // rgba(0, 0, 0, 0.06); // #0000000f; --> background color appWeb
    --c-gray-200: #eeeeee; // rgb(238, 238, 238); // rgba(0, 0, 0, 0.08); // #00000014; --> hover tr table treetable /
    --c-gray-300: #e0e0e0; // rgb(224, 224, 224); // rgba(0, 0, 0, 0.12); // #0000001f; --> color disabled & hr & box-shadow
    --c-gray-350: #d9d9d9; // rgb(217, 217, 217); // rgba(0, 0, 0, 0.15); // #00000026; // p-imput filled
    --c-gray-375: #c1c1c1; // rgb(193, 193, 193);                                       // borde arriba y abajo scroll
    --c-gray-400: #bdbdbd; // rgb(189, 189, 189); // rgba(0, 0, 0, 0.26); // #00000042; //NO
    --c-gray-500: #9e9e9e; // rgb(158, 158, 158); // rgba(0, 0, 0, 0.38); // #00000061; --> border color & shadow & seleted
    --c-gray-600: #757575; // rgb(117, 117, 117); // rgba(0, 0, 0, 0.54); // #0000008a; --> placeholder color
    --c-gray-700: #616161; // rgb(97, 97, 97);    // rgba(0, 0, 0, 0.62); // #0000009e; // NO
    --c-gray-800: #424242; // rgb(66, 66, 66);    // rgba(0, 0, 0, 0.72); // #000000b8; --> // tooltip Texto AAA
    --c-gray-900: #212121; // rgb(33, 33, 33);    // rgba(0, 0, 0, 0.87); // #000000de; --> text color, disabled button(.65 opacity) // Texto AAA
    --c-gray-950: #1b1b1b; // NO
    --c-black: #000000; // rgb(0, 0, 0);       // rgba(0, 0, 0, 1)     // #000000;
}

/* =====================================================
   MARK: PRIMARY VAR
   ===================================================== */

:root {

    --c-font-family-base: "Inter", Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    --c-font-fanily-brand: "Inter Tight", "Inter", system-ui, sans-serif;
    --c-font-family-code: "JetBrains Mono", monospace;

    --c-text-xs: .75rem; // 12px
    --c-text-sm: .875rem; // 14px
    --c-text-base: 1rem; // 16px
    --c-text-lg: 1.125rem; // 18px
    --c-text-xl: 1.25rem; // 20px
    --c-text-2xl: 1.5rem; // 24px
    --c-text-3xl: 1.875rem; // 30px
    --c-text-4xl: 2.25rem; // 36px
    --c-text-5xl: 3rem; // 48px
    --c-text-6xl: 3.75rem; // 60px
    --c-text-7xl: 4.5rem; // 72px

    --c-line-height-xs: 1.4;
    --c-line-height-sm: 1.45;
    --c-line-height-base: 1.5;
    --c-line-height-lg: 1.55;
    --c-line-height-xl: 1.5;
    --c-line-height-2xl: 1.45;
    --c-line-height-3xl: 1.3;
    --c-line-height-4xl: 1.25;
    --c-line-height-5xl: 1.15;
    --c-line-height-6xl: 1.1;
    --c-line-height-7xl: 1.1;

    --c-border-radius-none: 0;
    --c-border-radius-sm: 2px;
    --c-border-radius-base: 4px;
    --c-border-radius-md: 6px;
    --c-border-radius-lg: 8px;
    --c-border-radius-xl: 12px;
    --c-border-radius-2xl: 16px;
    --c-border-radius-3xl: 9999px;
}

/* =====================================================
   MARK: SEMANTIC VAR
   ===================================================== */