// /**
// * Component: pages
// * Description: estructura de las paginas
// */

// // contenedor de las páginas
// .page {
//   position: relative;
//   height: 100%;
//   padding-left: 32px;

//   display: flex;
//   flex-direction: column;
//   gap: 0.5rem;
//   justify-content: start;
// }

// .page-container {
//   height: 100%;
//   overflow-y: auto;
//   padding-right: 32px;
// }

// // menu horizontal de pestañas
// .page-tabs {
//   position: sticky;
//   top: 0;

//   display: flex;
//   background-color: var(--c-primary-surface);

//   margin-top: 32px;
//   z-index: 3;
// }

// // encabezado de documento debajo de TABS
// .page-header {
//   position: sticky;
//   top: 48px;
//   background-color: var(--c-primary-surface);
// }

// // contenido de pestañas
// .page-content {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   padding-top: 1rem;
// }



.page {
  padding: 32px;
}
